@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

* {
  color-scheme: light;
}

select {
  background-color: white !important;
  color: rgb(15 23 42) !important;
}

select:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgb(59 130 246) !important;
}

select option {
  background-color: white !important;
  color: rgb(15 23 42) !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
